@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
    font-family: "Nerko One", cursive;
}

body {
    background-image: url('website.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-image: url('website-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px; /* Adjust as needed for spacing from the bottom */
}

.text {
    text-align: center;
    width: 500px;
    margin-bottom: 90px;
    margin-left: 50px;
    font-size: 1.2rem;
    transform: rotate(-2.5deg);
}

.x {
    position: absolute;
    bottom: 31vh; /* Adjust as needed to move higher */
    right: 23vw; /* Adjust as needed to move to the right */
}

.x img {
    width: 8vw;
    transform: rotate(25deg);
}

.x img:hover {
    transform: scale(1.1);
}

.tg {
    position: absolute;
    bottom: 11vh; /* Adjust as needed to move higher */
    right: 16vw; /* Adjust as needed to move to the right */
}

.tg img {
    width: 5vw;
    transform: rotate(25deg);
}

.tg img:hover {
    transform: scale(1.1);
}
